In [2]:
import pandas as pd
from datetime import datetime, timedelta
from collections import OrderedDict
import numpy as np

In [5]:
df = pd.read_excel('/Users/j-yeom/workspace/asakai/trans_raw.xlsx')
print(df)
# df1 = pd.DataFrame()
# df1['date'] = (df['03-03']['date']).append(df['2018-04']['date']).append(df['2018-05']['date']).append(df['2018-06']['date'])
# df1['date'] = pd.to_datetime(df1['date'], format='%Y/%m/%d %H:%M')
# df1['date_month'] = df1['date'].dt.strftime('%Y-%m')
# df1['userId'] = (df['03-03']['userId']).append(df['2018-04']['userId']).append(df['2018-05']['userId']).append(df['2018-06']['userId'])
# #df1['userId'] = df['03-03']['userId']
# df1['userId'] = df1.userId.apply(str)
# #print(df1)

              userId       date
0      2996623415988 2017-03-02
1      2013816219076 2017-03-03
2      2436401653518 2017-03-03
3      2947519156525 2017-03-03
4      2233725926328 2017-03-03
5      2883539217684 2017-03-04
6      2365970747775 2017-03-04
7      2179230160285 2017-03-05
8      2582654971576 2017-03-07
9      2907031887098 2017-03-08
10     2071537468562 2017-03-08
11     2894851961007 2017-03-11
12     2912953123837 2017-03-11
13     2613128338041 2017-03-11
14     2616353821490 2017-03-12
15     2120111997866 2017-03-12
16     2891626477558 2017-03-12
17     2102010835033 2017-03-12
18     2873525314728 2017-03-12
19     2821195571812 2017-03-13
20     2796643442081 2017-03-13
21     2827646538714 2017-03-14
22     2845747701544 2017-03-14
23     2126562964768 2017-03-14
24     2518145302575 2017-03-14
25     2034805412746 2017-03-14
26     2175667224222 2017-03-14
27     2310078068807 2017-03-14
28     2056132059023 2017-03-14
29     2190542903601 2017-03-14
...              ...        ...
15670  2030806951500 2018-03-31
15671  2524258816864 2018-03-31
15672  2792213323256 2018-03-31
15673  2591746854096 2018-03-31
15674  2744215626608 2018-03-31
15675  2711913689618 2018-03-31
15676  2585295887192 2018-03-31
15677  2738867354923 2018-03-31
15678  2856915269800 2018-03-31
15679  2738055009826 2018-03-31
15680  2110820102619 2018-03-31
15681  2705027197534 2018-03-31
15682  2052376845417 2018-03-31
15683  2485309767839 2018-03-31
15684  2019874895699 2018-03-31
15685  2057858689381 2018-03-31
15686  2563969240915 2018-03-31
15687  2589773108519 2018-03-31
15688  2134120494476 2018-03-31
15689  2357302787660 2018-03-31
15690  2756156172657 2018-03-31
15691  2540963066769 2018-03-31
15692  2142737484509 2018-03-31
15693  2087037083081 2018-03-31
15694  2465140654446 2018-03-31
15695  2648463480933 2018-03-31
15696  2161513552552 2018-03-31
15697  2167289614237 2018-03-31
15698  2180285753016 2018-03-31
15699  2586649565229 2018-03-31

[15700 rows x 2 columns]

In [3]:
monthList = df1.date_month.unique()
print(monthList)
userList = []
for month in monthList:
    if(len(userList) == 0):
        userList.append(list(df1.userId.where(df1['date_month'] == month).unique()))
    else:
        toAppend = set(df1.userId.where(df1['date_month'] == month).unique())
        # remove all the previous months' users
        toRemove = set().union(*userList)
        userList.append(list(toAppend - toRemove))
#print(userList) # userList will now contain lists of first users from each month.
userObj = {}
count = 0
firstUserCount = []
for month in monthList:
    userObj[month] = userList[count]
    firstUserCount.append(len(userObj[month]))
    count+=1

print(firstUserCount)

['2017-03' '2017-04' '2017-05' '2017-06' '2017-07' '2017-08' '2017-09'
 '2017-10' '2017-11' '2017-12' '2018-01' '2018-02' '2018-03' '2018-04'
 '2018-05' '2018-06']
[769, 507, 771, 415, 390, 790, 509, 289, 242, 691, 719, 297, 397, 411, 388, 510]

In [4]:
userList = {}
for month in monthList:
    userList[month] = df1.userId.where(df1['date_month'] == month).unique()  # << unique user of each month
#print(userList) 각 월의 유저아이디를 담고 있는 객체

def match_all(rangeArr, subRangeArr):
    arr = {}
    for month in rangeArr:
        arr[month] = []
        for sub_month in subRangeArr:  
            # figure out if each month unique user existed in the first charger user group
            arr[month].append(np.isin(userList[sub_month],userObj[month]).sum())
    return arr

dates = ["2017-03-01", "2018-06-30"]
start, end = [datetime.strptime(_, "%Y-%m-%d") for _ in dates]
result = list(OrderedDict(((start + timedelta(_)).strftime(r"%Y-%m"), None) for _ in range((end - start).days)).keys())
#print(for_march(result))
real_result = match_all(result, result) # use same time range for both compare-ref and compare-ee
#print(real_result)

In [9]:
df2 = df1.groupby('date_month')[['userId']].nunique()
#df2['userId'] = firstUserCount
for month, month_list in real_result.items():
    df2[month] = month_list
df2 = df2.transpose()

df2 = df2.replace(0, np.nan)
print(df2)
writer = pd.ExcelWriter('pollet_charge1.xlsx', engine='xlsxwriter')
df2.to_excel(writer, sheet_name='Sheet1')
writer.save()
#df2.to_json('pollet_charge_split.json', orient='split')

            userId  2017-03  2017-04  2017-05  2017-06  2017-07  2017-08  \
date_month
2017-03        768      768      NaN      NaN      NaN      NaN      NaN
2017-04        757      250    507.0      NaN      NaN      NaN      NaN
2017-05       1165      235    159.0    771.0      NaN      NaN      NaN
2017-06       1080      252    167.0    246.0    415.0      NaN      NaN
2017-07       1029      221    124.0    175.0    119.0    390.0      NaN
2017-08       1674      249    142.0    196.0    134.0    163.0    790.0
2017-09       1559      254    145.0    197.0    105.0    146.0    203.0
2017-10       1170      184    116.0    160.0     75.0    110.0    125.0
2017-11       1313      212    114.0    188.0     74.0    111.0    125.0
2017-12       2157      270    165.0    259.0    132.0    126.0    153.0
2018-01       1573      114     73.0    121.0     49.0     83.0     75.0
2018-02       1353      108     71.0    118.0     48.0     93.0     83.0
2018-03       1621      118     77.0    136.0     59.0     93.0     92.0
2018-04       1654      125     81.0    132.0     65.0     81.0     93.0
2018-05       1607      120     77.0    123.0     55.0     69.0     71.0
2018-06       2030      117     76.0    124.0     72.0     65.0     85.0

            2017-09  2017-10  2017-11  2017-12  2018-01  2018-02  2018-03  \
date_month
2017-03         NaN      NaN      NaN      NaN      NaN      NaN      NaN
2017-04         NaN      NaN      NaN      NaN      NaN      NaN      NaN
2017-05         NaN      NaN      NaN      NaN      NaN      NaN      NaN
2017-06         NaN      NaN      NaN      NaN      NaN      NaN      NaN
2017-07         NaN      NaN      NaN      NaN      NaN      NaN      NaN
2017-08         NaN      NaN      NaN      NaN      NaN      NaN      NaN
2017-09       509.0      NaN      NaN      NaN      NaN      NaN      NaN
2017-10       111.0    289.0      NaN      NaN      NaN      NaN      NaN
2017-11       122.0    125.0    242.0      NaN      NaN      NaN      NaN
2017-12       128.0    111.0    122.0    691.0      NaN      NaN      NaN
2018-01        52.0     50.0     43.0    194.0    719.0      NaN      NaN
2018-02        57.0     54.0     53.0    165.0    206.0    297.0      NaN
2018-03        57.0     58.0     50.0    170.0    210.0    104.0    397.0
2018-04        61.0     44.0     47.0    133.0    158.0     81.0    142.0
2018-05        47.0     50.0     40.0    113.0    139.0     72.0    111.0
2018-06        55.0     53.0     41.0    148.0    175.0     71.0    111.0

            2018-04  2018-05  2018-06
date_month
2017-03         NaN      NaN      NaN
2017-04         NaN      NaN      NaN
2017-05         NaN      NaN      NaN
2017-06         NaN      NaN      NaN
2017-07         NaN      NaN      NaN
2017-08         NaN      NaN      NaN
2017-09         NaN      NaN      NaN
2017-10         NaN      NaN      NaN
2017-11         NaN      NaN      NaN
2017-12         NaN      NaN      NaN
2018-01         NaN      NaN      NaN
2018-02         NaN      NaN      NaN
2018-03         NaN      NaN      NaN
2018-04       411.0      NaN      NaN
2018-05       132.0    388.0      NaN
2018-06       159.0    168.0    510.0